@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    font-family: "Bangers", sans-serif;
    background-color: #0c0105;
}

.wrapper {
    width: 100%;
    height: auto;
    background-color: #4B0082;
    margin-top: 60px;
}

.header {
    width: 100%;
    height: 20%;
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 120px;
    margin: 100px;
    margin-top: 100px;
}

.navigation {
    text-decoration: none;
    font-family: "Bangers", sans-serif;
}

.navigation ul {
    margin: 100px;
    padding: 0;
}

.navigation ul li {
    display: inline-block;
    margin-right: 20px;
    font-size: 18px;
}

.navigation ul li a {
    text-decoration: none;
    color: #d7176a;
    font-family: "Bangers", sans-serif;
    transition: color 0.3s ease, background-color 0.3s ease;
}

.navigation ul li a:hover {
    color: #fff;
    padding: 5px 10px;
}

.hero {
    display: flex;
    align-items: center;
}

.hero-text {
    font-family: "Bangers", sans-serif;
    letter-spacing: 5px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    margin-left: 100px;
}

.hero-text h1 {
    font-size: 150px;
    color: #d7176a;
}

.hero-text h2 {
    font-size: 30px;
    color: #5ea3cf;
    font-weight: normal;
    margin-top: 10px;
}

.hero button {
    background-color: #d7176a;
    padding: 10px 20px;
    color: #fff;
    border-radius: 7px;
    font-weight: bold;
    text-decoration: none;
    border: none;
    margin-top: 20px;
    font-family: "Bangers", sans-serif;
    font-weight: normal;
    letter-spacing: 2px;
    transition: background-color 0.3s, transform 0.3s;
}

.hero button:hover {
    background-color: #ff4c9d;
    transform: scale(1.1);
}

.hero-image {
    margin: 100px;
    margin-bottom: 100px;
    margin-right: -80px;
    padding-right: 100px;
}

.hero-image img {
    transform: translate(100%, -100%); 
    transition: transform 0.5s ease-out, opacity 0.5s ease-out; 
}

.hero-image img.animate {
    transform: translate(0, 0); 
    opacity: 1;
}

@keyframes slideInFromTopRight {
    0% {
        transform: translate(100%, -100%); 
        opacity: 0;
    }
    100% {
        transform: translate(0, 0); 
        opacity: 1;
    }
}

.hero-image img {
    animation: slideInFromTopRight 1.9s ease-out forwards; 
}


.hero-text {
    transform: translateX(-100%);
    opacity: 0;
    transition: transform 0.5s ease-out, opacity 0.5s ease-out;
}

.hero-text.animate {
    transform: translateX(0);
    opacity: 1;
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.hero-text {
    animation: slideInFromLeft 1s ease-out forwards;
}

.reviews {
    margin: 0 auto;
    max-width: 12000px;
    padding: 20px;
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
}

.hellotop {
    font-family: "Bangers", sans-serif;
    text-align: center;
    margin-bottom: 80px;
    color: #d7176a;
    font-size: 28px;
    letter-spacing: 5px;
}

.hello {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
    padding-right: 100px;
}

.hello div {
    flex: 1;
    text-align: center;
}

.hello div img {
    width: 50%;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}

.hello h2 {
    padding-bottom: 20px;
    margin-bottom: 20px;
    font-family: "Bangers", sans-serif;
    color: #d7176a;
    letter-spacing: 5px;
}

.hello p {
    padding-bottom: 20px;
    margin-bottom: 20px;
    font-family: "Bangers", sans-serif;
    color: #5ea3cf;
    letter-spacing: 2px;
}

.transform-your-team {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 3px;
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
}

.recentWork {
    display: flex;
    gap: 40px;
    margin-left: 40px;
    margin-bottom: 150px;
}

.tip {
    width: 300px;
    background-color: rgb(1, 9, 9);
}

.transform-your-team img {
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
}

@keyframes appear {
    from {
        opacity: 0;
        transform: translateX(-100px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.transform-your-team h2 {
    font-size: 100%;
    font-family: "Bangers", sans-serif;
    color: #d7176a;
    text-align: center;
    font-size: 48px;
    margin-bottom: 60px;
    letter-spacing: 2px;
    margin-top: 150px;
}

.transform-your-team h1 {
    font-size: 100%;
    font-family: "Bangers", sans-serif;
    color: #d7176a;
    text-align: center;
    margin-bottom: 10px;
    letter-spacing: 2px;
}

.transform-your-team p {
    font-size: 100%;
    font-family: "Bangers", sans-serif;
    color: #5ea3cf;
    padding-right: 18px;
    text-align: center;
    margin-bottom: 10px;
}

.footer-section {
    width: 100%;
    margin-top: 10px;
    background-color: #4B0082;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

.footer-section__container {
    width: 50%;
    display: flex;
    justify-content: space-between;
    color: #d7176a;
    letter-spacing: 2px;
}

.footer-section__container div p {
    transition: color 0.3s ease;
}

.footer-section__container div .email:hover {
    color: #ff4081;
}

.footer-section__container div .phone:hover {
    color: #ff4081;
}

.insta-icon,
.facebook-icon {
    font-size: 20px;
    color: #d7176a;
}

.insta-icon:hover,
.facebook-icon:hover {
    color: #ff4081;
    cursor: pointer;
}

.logo {
    width: 40px;
    margin-right: 115px;
}

.logo:hover {
    transform: scale(1.1);
    transition: transform 0.1s ease;
}












@media (max-width: 768px) {

	.header {
		margin-bottom: -110px;


	}
    .logo img {
        width: 150px;
        margin: 20px 0;
        margin-left: 300px;
		margin-bottom: 200px;
		margin-top: 100px;
    }

    .navigation ul {
        margin: 20px 0;
		display: none;
    }


    .hero-text h1 {
        font-size: 50px;
		padding-bottom: 20px;
		margin-top: 30px;
		margin-left: 10px;
    }

    .hero-text h2 {
        font-size: 15px;
		text-align: center;
		padding-bottom: 20px;
		margin-left: 15px;
    }

    .hero button {
		font-size: 10px;
        padding: 10px 10px;
		align-items: center;
		margin-left: 30px;
		margin-bottom: 30px;
    }

    .hero-image img {
		display: none;
    }

    .hello div img {
        width: 160px;
		margin-left: 100px;
		margin-top: -20px;
		margin-top: 70px;
    }

    .hello h1 {
        font-size: 10px;
    }

    .hello h2 {
        font-size:px;
		margin-left: 100px;
		margin-top: 20px;
		margin-bottom: -5px;
    }

    .hello p {
        font-size: 15px;
		margin-left: 100px;
		margin-bottom: 50px;
    }

    .recentWork {
        flex-direction: column;
        margin-left: 0;
        gap: 20px;
    }

	.transform-your-team {
        flex-direction: column; 
		margin-top: -100px;
		margin-left: 250px;
    }

	.transform-your-team img {
		width: 100%; 
		height: auto; 
		display: block; 
		margin-bottom: 10px; 
		padding-right: 15px;
		margin-top: -50px;
		margin-bottom: 30px;
	}
	

    .transform-your-team h1 {
        font-size: 30px;
		padding-right: 15px;
    }
	.transform-your-team h2 {
		text-align: left;
		margin-left: 80px;
		margin-top: -100;


	}
	.transform-your-team p {
		text-align: center;
		margin-bottom: 100px;

	}

    .footer-section__container {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .footer-section__container div p {
        font-size: 14px;
        text-align: center;
    }

    .insta-icon, .facebook-icon {
        font-size: 20px;
    }












	@media (max-width: 480px) {

		.header {
			margin-bottom: -150px;
	
		}
		.logo img {
			width: 2px;
			margin: 20px 0;

		}
	
		.navigation ul {
			margin: 20px 0;
			display: none;
		}
	
	
		.hero-text h1 {
			font-size: 50px;
			padding-bottom: 20px;
			margin-top: 30px;
			text-align: center;

		}
	
		.hero-text h2 {
			font-size: 15px;
			text-align: center;
			padding-bottom: 20px;
			margin-left: 15px;
		}
	
		.hero button {
			font-size: 10px;
			padding: 10px 10px;
			align-items: center;
			margin-left: 80px;
			margin-bottom: 30px;
		}
	
		.hero-image img {
			display: none;
		}
	
		.hello div img {
			width: 160px;
			margin-left: 100px;
			margin-top: -20px;
			margin-top: 70px;
		}
	
		.hello h1 {
			font-size: 10px;
		}
	
		.hello h2 {
			font-size:px;
			margin-left: 100px;
			margin-top: 20px;
			margin-bottom: -5px;
		}
	
		.hello p {
			font-size: 15px;
			margin-left: 100px;
			margin-bottom: 50px;
		}
	
    .recentWork {
        flex-direction: column;
        margin-left: 100px;
		margin-bottom: 100px;
        gap: 20px;
    }


		.transform-your-team {
			margin-left: -0px;

		}
	
		.transform-your-team img {
			width: 100%; 
			height: auto; 
			display: block; 
			margin-bottom: 100px; 
		}
		
	
		.transform-your-team h1 {
			font-size: 30px;
			padding-right: 15px;
		}
		.transform-your-team h2 {
			text-align: left;
			margin-left: 80px;
			margin-top: -100;
	
		}
		.transform-your-team p {
			text-align: center;
			margin-bottom: 100px;
	
		}
	
		.footer-section__container {
			flex-direction: column;
			align-items: center;
			width: 100%;
		}
	
		.footer-section__container div p {
			font-size: 14px;
			text-align: center;
		}
	
		.insta-icon, .facebook-icon {
			font-size: 20px;
		}
	
	.logo {
			display: none;
		}